# EAIB Docker Environment Configuration Template
# Copy this file to .env and fill in your API keys

GROQ_API_KEY=your_groq_api_key_here (provided in teh mail)
SERPER_API_KEY=your_serper_api_key_here (provided in teh mail)

MONGODB_CONNECTION_STRING=mongodb://mongodb:27017/(or replace by URI provided in the mail)
MONGODB_URI=mongodb://mongodb:27017/scraping_pipeline  (or replace by URI provided in the mail)

# Logging
LOG_LEVEL=INFO
LOG_FILE=logs/scraper.log

# Application Configuration
PYTHONPATH=/app

# Streamlit Configuration (for Docker)
STREAMLIT_SERVER_HEADLESS=true
STREAMLIT_SERVER_ENABLE_CORS=false
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_ADDRESS=0.0.0.0

# FastAPI Configuration
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000 